// Typography SCSS
a {
    color: $link;
    &:hover {
        color: $gray-800;
    }
}

b,
strong {
    font-weight: 700;
}

body {
    font-family: $font-karla;
    font-weight: 400;
    color: $gray-800;
    font-size: 13px;
    line-height: 22px;
    @include tablet {
        font-size: 14px;
        line-height: 23px;
    }
}

p {
    font-size: 13px;
    line-height: 22px;
    text-align: justify;
    @include tablet {
        font-size: 14px;
        line-height: 23px;
    }
}