// Checkout SCSS
.shopping-cart {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 72px;
    & a {
        & span {
            font-size: 11px;
            margin-right: 3px;
        }
    }
    @include tablet {
        display: none;
    }
}

.checkout-section {
    flex: 1;
    display: flex;
}

.checkout-block {
    width: 100%;
    padding: 42px 80px 77px 71px;
    @include tablet {
        padding: 24px 34px 60px;
    }
}

.checkout-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include tablet {
        flex-direction: column;
    }
}

.checkout-form {
    flex: 1;
    max-width: 452px;
    display: flex;
    flex-direction: column;
    @include tablet {
        max-width: 100%;
        margin-bottom: 40px;
    }
    & h5 {
        margin-bottom: 14px;
        @include tablet {
            margin-bottom: 18px;
        }
    }
}

.card-block {
    flex: 1;
    max-width: 452px;
    display: flex;
    flex-direction: column;
    @include tablet {
        max-width: 100%;
        margin-bottom: 34px;
    }
    & h5 {
        margin-bottom: 10px;
        @include tablet {
            margin-bottom: 18px;
        }
    }
    & h4 {
        margin-bottom: 10px;
    }
    & .card-content {
        width: 335px;
        border: 1px solid rgba($gray-800, 30%);
        height: 215px;
        @include tablet {
            width: 100%;
            height: 223px;
        }
    }
}

.checkout-price {
    flex: 1;
    max-width: 390px;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    @include tablet {
        max-width: 100%;
        margin-top: 0;
    }
    & .checkout-steps {
        display: flex;
        align-items: center;
        margin-bottom: 19px;
        & .checkout-unit {
            margin-right: 25px;
            display: flex;
            align-items: center;
            color: rgba($gray-800, 30%);
            @include tablet {
                margin-right: 15px;
            }
            & span {
                width: 27px;
                height: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba($black, 20%);
                margin-right: 9px;
                border-radius: 50%;
                color: rgba($gray-800, 30%);
                @include tablet {
                    margin-right: 6px;
                }
            }
            &.active {
                color: $gray-800;
                & span {
                    color: $primary;
                    background-color: $gray-800;
                    border-color: $gray-800;
                }
            }
            &.completed {
                color: $gray-800;
                & span {
                    color: $gray-800;
                    border-color: $gray-800;
                }
            }
        }
    }
}

.form-content {
    display: grid;
    grid-template-columns: 202px 231px;
    column-gap: 18px;
    row-gap: 17px;
    @include tablet {
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }
    & .form-unit {
        display: flex;
        flex-direction: column;
        @include mobile {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &:nth-child(1),
        &:nth-child(4) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &:nth-child(5) {
            @include mobile {
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
        &:nth-child(6) {
            @include mobile {
                grid-column-start: 2;
                grid-column-end: 3;
            }
        }
        & label {
            width: 100%;
            margin-bottom: 6px;
        }
        & input {
            width: 100%;
            height: 40px;
            font-size: 13px;
            padding: 9px 13px;
            background-color: transparent;
            border: 1px solid rgba($black, 10%);
            transition: $btn-transition;
            border-radius: 0;
            &:focus {
                border: 1px solid rgba($black, 100%);
            }
        }
    }
}

.checkout-bottom {
    margin-top: 62px;
    @include tablet {
        margin-top: 43px;
    }
    & h5 {
        margin-bottom: 15px;
    }
    & .checkout-swiper {
        & .swiper-slide {
            max-width: 150px;
            @include tablet {
                max-width: 133px;
            }
            & img {
                width: 150px;
                height: 180px;
                object-fit: cover;
                @include tablet {
                    width: 133px;
                    height: 200px;
                }
            }
        }
    }
}

.discout-block {
    border: 1px solid rgba($gray-800, 30%);
    & .discount-header {
        padding: 19px 30px 19px 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        @include tablet {
            padding: 19px 25px;
        }
    }
    & .discout-field {
        display: flex;
        padding: 0 34px 28px;
        @include tablet {
            padding: 0 25px 25px;
        }
        & input {
            width: 100%;
            font-size: 13px;
            padding: 9px 13px;
            background-color: transparent;
            border: 1px solid rgba($black, 10%);
            transition: $btn-transition;
            border-radius: 0;
            flex: 3;
            &:focus {
                border: 1px solid rgba($gray-800, 100%);
            }
        }
        & .btn-primary {
            flex: 1;
        }
    }
}

.terms {
    font-size: 9px;
    line-height: 12px;
    width: calc(100% - 46px);
    margin-bottom: -16px;
    margin-top: 12px;
    @include tablet {
        font-size: 10px;
        line-height: 14px;
    }
    & small {
        margin-bottom: 10px;
        display: block;
        & a {
            color: $gray-800;
            text-decoration: underline;
        }
    }
}

.thank-block {
    margin-top: 63px;
    @include tablet {
        margin-top: 33px;
        margin-bottom: 52px;
    }
    & h2 {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 6px;
    }
}