// Home Page SCSS here
.home-section {
    flex: 1;
    padding: 73px;
    display: flex;
    align-items: center;
    @include tablet {
        padding: 56px 34px 60px;
        border-bottom: 1px solid rgba($gray-800, 30%);
    }
}