// Footer SCSS
footer {
    border-top: 1px solid rgba($gray-800, 30%);
    display: flex;
    justify-content: space-between;
    padding: 16px 70px;
    margin-top: auto;
    @include tablet {
        padding: 21px 34px;
    }
    & p {
        color: $link;
        font-size: 12px;
    }
    & ul {
        display: flex;
        align-items: center;
        column-gap: 38px;
        @include tablet {
            flex: 1;
            justify-content: space-between;
            column-gap: inherit;
        }
        & li:first-child {
            @include tablet {
                margin-left: auto;
                margin-right: auto;
            }
        }
        & a {
            font-size: 12px;
        }
    }
}